body{
    background-color: rgb(224, 221, 213);

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}
.left{
    background-color: rgba(22, 28, 31, 0.673);
    height: 80vh;
    width: 25vw;
    margin-left: 3vw;
    margin-top: 3vw;
    border-radius: 30px;
    padding: 30px;
}
.right{
    height: 80vh;
    width: 80vh;
    margin-left: 3vw;
    margin-top: 3vw;
}

.insert_txt{
    width: 23vw;
    height: 70vh;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(202, 214, 222);
    display: block;
    margin: 0 auto;
}
.updata_btn{
    font-size: 30px;
    color: rgb(202, 214, 222);
    background-color: rgb(46, 67, 106);
    width: 15vw;
    height: 7vh;
    border-radius: 400vw;
    border-color: rgba(126, 158, 217, 0.7);
    border-width: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}

.divider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.divider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #000;
    transform: translateX(-50%);
}